.wrapper {
    max-width: 260px;
    min-height: 48vh;
    margin: 0 auto;
}

.wrapper,
.subgrid {
  display: grid;
}
.wrapper {
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}

button {
  font-size: 1rem;
}

.input {
  grid-area: total;
  font-size: 2rem;
}
.input2 {
  grid-area: total;
  font-size: 1rem;
  padding-top: 20%;
}